@font-face {
    font-family:scriptdois;
    src: url('../fontes/Lovelo\ Line\ Light.otf') format(opentype);
}

@font-face {
    font-family:scriptdois;
    src: url('../fontes/Lovelo\ Line\ Light.otf') format(opentype);
}



@font-face {
    font-family:script;
    src: url('../fontes/Gymkhana\ Lt.otf')format('opentype');font-weight: normal;font-style: normal;
}

/*  
               COLLORS 

Cor fonte logo - #1D2C33
Cor dos icones : #ffff9901 ,#ff4d9a1a


*/



/*   
                FONTES

        @font-face {
    font-family:script;
    src: url(script.ttf)format(truetype);font-weight: normal;font-style: normal;
}

*{font-family: script, arial,sans-serif;}


*/


*{ margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Arial Narrow Bold', sans-serif;}
body { height: 400vh; width: 99vw; } 

#promo {  background-color: #009C6F; padding: 3px; text-align: center;  }

#promopix { color: white; font-family: Arial, Helvetica, sans-serif; text-decoration: none; font-size: .8em; font-weight: bold; font-variant:small-caps;}

#header { display: flex; justify-content: space-between;  background-color: aliceblue;position: fixed; width:100%; top: 30px; align-items: center; flex:0 1 500px; padding: 0 13vw ; transition: 1s; }


#header.rolagem {

    background-color: aliceblue; top: 0; padding:  0 10vw 0 8vw ;
}




#header.rolagem > #iconelogo { margin-left: 12vw; margin-top: 15px}

#header.rolagem  > #iconelogo { width: 120px; height: 57px;}


#header.rolagem > #menu >ul>li>a { font-size: .8vw; font-weight: bolder;}

#header.rolagem > #menu { }


#header.rolagem > #carrinho > a > #iconecarrinho { height: 40px; width: 30px;}

#iconelogo {width: 250px; height: 90px;  }

#menu {  padding-top: 10px; }

#menu > ul { }

#menu >ul>li {display: inline-block;  }

#menu >ul>li>a { text-decoration: none; color: #1D2C33;font-family: Arial, Helvetica, sans-serif, ; font-size: 1vw; padding-inline: 20px; position: relative;  }


#menu >ul>li>a::after { content:" "; width: 0%; height: 2px; position: absolute; background:#509C21; bottom: 0; left: 0; transition: .6s ease-in-out;}

#menu >ul>li>a:hover::after {width: 100%;}

#menu >ul>li>a:hover {color: #509C21; transition: .5s; }

#carrinho{  }

#iconecarrinho { height: 60px; width: 50px;}

#carrinho a { font-family: Arial, Helvetica, sans-serif; color: #1D2C33; font-weight: 700; text-decoration: none;}

.slider { background-image: url('../imagens/fefdk2.png'); margin: 150px auto 0; width: 80%; height: 500px; overflow: hidden; box-shadow: 0px 1px 4px black;}

.slides { width: 400%; height: 400px; display: flex;}

.slides input { display: none;}

.slide { width: 25%; position: relative; transition: 2s;}

.slide img { width: 100%;}

.manual-navigation { position: absolute ; width: 100%; margin-top: 70px; display: flex ; justify-content: center; left: -1%;}

.manual-btn { border: 2px solid white; padding: 8px; border-radius: 50%; cursor: pointer; transition: 1s;}

.manual-btn:not(:last-child) { margin-right: 20px;}

.manual-btn:hover { background-color:white;}

#radio1:checked ~ .first { margin: 0;}
#radio2:checked ~ .first { margin: -12.5%;}
#radio3:checked ~ .first { margin: -25%;} 
#radio4:checked ~ .first { margin: -38%;}

.navigation-auto  div{ border: 2px solid white;  padding:8px; border-radius: 50%; cursor: pointer; transition: 1s;}

.navigation-auto {

    position: absolute; width: 100%; margin-top: 470px; display: flex; justify-content: center; left: -1%;
}

.navigation-auto div:not(:last-child) { margin-right: 20px;}

#radio1:checked ~ .navigation-auto .auto-btn1 { background-color: white;}
#radio2:checked ~ .navigation-auto .auto-btn2 { background-color: white;}
#radio3:checked ~ .navigation-auto .auto-btn3 { background-color: white;}
#radio4:checked ~ .navigation-auto .auto-btn4 { background-color: white;}

.painel1 { width: 100%; height: 700px; margin-top: 50px; background-color: #FFD679; color: white; font-family: scriptdois;}  



.textp1 { width: 30%; text-align: center; background-color: chocolate;}